[submodule "RobustToolbox"]
	path = RobustToolbox
	url = https://github.com/space-wizards/RobustToolbox.git
	branch = master
[submodule "Content.Shared/PrivateShared"]
	path = Content.Shared/PrivateShared
	url = https://github.com/Lost-Paradise-Project/PrivateShared
	branch = main
[submodule "Content.Server/PrivateServer"]
	path = Content.Server/PrivateServer
	url = https://github.com/Lost-Paradise-Project/PrivateServer
	branch = main
[submodule "Resources/PrivateResources"]
	path = Resources/PrivateResources
	url = https://github.com/Lost-Paradise-Project/PrivateResources
	branch = main
